@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Comfortaa", cursive;
}

.calculator-container {
  width: fit-content;
  padding: 25px;
  border: 1px solid #000;
  border-radius: 20px;
}

.calculator-grid {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: minmax(50px, auto) repeat(4, 50px);
  gap: 10px;
}
