@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

.calculator-container {
  width: 100%;
  min-height: 100vh;
  background-color: #dec9e9;
  display: flex;
  justify-content: center;
  align-items: center;
}
